@model IEnumerable<InternetShop.Models.Good>
@{
    ViewBag.Title = "Home Page";
    int i = 0;
    int len = 0;
}

@foreach (var item in Model)
{
    <a href="@Url.Action("Select", "Home", new { id = item.Id })">
        <div id="liniya">
            <p><img id="imgGood" src="@item.Image"></p>
            <p>Название товара:</p><p> @item.Name</p>
            @{
                len = @item.Description.Length;
            }
            Описание: <p id="word">@item.Description.Substring(0, 20 > len ? len : 20)</p>
            <p>Количество: @item.Count</p>
            <p>Стоимость: @item.Price</p>
        </div>
    </a>
                i++;
                if (i % 3 == 0)
                {
                    <div id="separ"></div>
                }
}