@model IEnumerable<InternetShop.Models.Order>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin</title>
</head>
<body>
    <div> 
        @foreach(var item in Model)
        {
            <a href="">@item.FIO, @item.Address, @item.Telephone, @item.Sum, @item.Status</a><br/>
        }
    </div>
</body>
</html>

